<form [formGroup]="customer.customerFormGroup">
  <br /><br />
  Customer Code:
  <input
    formControlName="CustomerCodeControl"
    [(ngModel)]="customer.Code"
    type="text"
  />
  <br /><br />
  Customer Name:
  <input
    formControlName="CustomerNameControl"
    [(ngModel)]="customer.Name"
    type="text"
  />
  <br /><br />
  Customer Amount:
  <input
    [ngModelOptions]="{standalone: true}"
    [(ngModel)]="customer.Amount"
    type="text"
  />
  <br /><br />
  <input
    [disabled]="!(customer.customerFormGroup.valid)"
    type="button"
    value="Add"
    (click)="add()"
  />
  <br /><br />
  <div
    *ngIf="customer.customerFormGroup.dirty"
    [hidden]="!(hasError('pattern', 'CustomerCodeControl'))"
  >
    Code Format is Invalid.
  </div>
  <div
    *ngIf="customer.customerFormGroup.dirty"
    [hidden]="!(hasError('required', 'CustomerCodeControl'))"
  >
    Code is Required!
  </div>
  <div
    *ngIf="customer.customerFormGroup.dirty"
    [hidden]="!(hasError('required', 'CustomerNameControl'))"
  >
    Name is Required!
  </div>
</form>
<grid
  [grid-cols]="[{'colName': 'Code'}, {'colName': 'Name'}, {'colName': 'Amount'}]"
  [grid-data]="customers"
  (grid-selected)="setSelectedCustomer($event)"
></grid>
